<?xml version="1.0"?>
<configuration>
	<system.diagnostics>
		<switches>
			<add name="ShowErrors" value="4"/>
		</switches>
	</system.diagnostics>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="None"/>
		<!--
		Custom page parser filter is used to convert generic page type in inherits attrib from C# syntax
		to the correct form asp.net can understand. Just the same as in asp.net mvc.
		You can use OpenRasta.Codecs.WebForms.ResourceView<Home>, which R# should recognize as well as
		OpenRasta.Codecs.WebForms.ResourceView(Home)
		-->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="OpenRasta.Web"/>
				<add namespace="OpenRasta.Web.Markup"/>
				<add namespace="OpenRasta.Codecs.Spark"/>
				<add namespace="OpenRasta"/>
				<add namespace="OpenRasta.Demo.Handlers"/>
				<add namespace="OpenRasta.Demo.Resources"/>
			</namespaces>
		</pages>
		<httpHandlers>
			<add verb="*" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet"/>
		</httpHandlers>
		<httpModules>
			<add name="RastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet"/>
		</httpModules>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" compilerOptions="/warnaserror-">
				<providerOption name="CompilerVersion" value="v4.0"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="OpenRastaModule" type="OpenRasta.Web.OpenRastaModule, OpenRasta"/>
		</modules>
		<handlers>
			<add name="OpenRastaHandler" verb="*" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet"/>
		</handlers>
	</system.webServer>
</configuration>
